[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pytest = "*"

[packages]
soundfile = "*"
logme = "*"
musdb = "*"
"boto3" = "*"
requests = "*"
tqdm = "*"
scipy = "*"
torch = "*"
"pyqt5" = "*"
matplotlib = "*"
ipykernel = "*"
vusic = {editable = true,path = "."}
botocore = "*"
librosa = "*"
ffprobe = "*"
sounddevice = "*"
protobuf-to-dict = "*"
black = "*"
mir-eval = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
format = "pipenv run black ."
check = "pipenv run black --check ."
test = "pipenv run pytest"
