[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pytest = "*"

[packages]
requests = "*"
tqdm = "*"
logme = "*"
scipy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
format = "pipenv run black ."
check = "pipenv run black --check ."
test = "pipenv run pytest"
